.bg-brain-50 {
    background-color: #ece3d5;
}

.bg-brain-100 {
    background-color: #A88E73;
}

.bg-brain-200 {
    background-color: #856647;
}

.bg-brain-300 {
    background-color: #6F4E3B;
}

.bg-brain-400 {
    background-color: #472D1B;
}